.header{
    background-color:  var(--gray-700);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    width: 90rem;
    height: 12.5rem;
    font-size: 50px;

}

.header p.roxo{
    color: var(--purple-dark)
}


.header p.azul{
    color: var(--purple-dark)
}

.header img{
    padding: 2rem;
}