.header{
    background-color:  var(--gray-700);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    width: 90rem;
    height: 12.5rem;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    font-family: Inter;
    font-style: normal;

}

.roxo{
    color: var(--purple-dark)
}


.azul{
    color: var(--blue)
}

.header img{
    padding: 0.75rem;
}