.search{
    color: var(--gray-700) ;
    background-color: var(--gray-700);
    align-items: center;
    display: flex;
    justify-content: center;

}

.serch input{
    padding: 20px;
}

.search button{
    background-color: var(--blue-dark);
    color: var(--gray-100);
    
    
}

.search button:hover{
    background-color: var(--blue);
    color: var(--gray-100) 
}