.search{

    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    margin-bottom: 4rem;

}

.search form{
    align-items: center;
    display: flex;
    justify-content: center;
}


.search input{

    width: 40rem;
    height: 3.375rem;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    line-height: 1.4;
    flex-shrink: 0;
    border: 1px solid var(--gray-700);

    background: var(--gray-500);
    color: var(--gray-300)
    
}

.search input:focus{
    border: 1px solid var(--purple-dark); /* Define uma borda de foco personalizada em azul quando o input está em foco */
    outline: none;

}


.search button {
    background-color: var(--blue-dark);
    color: var(--gray-100);
    width: 90px;
    height: 52px;
    font-weight: bold;
    font-size: 0.875;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search button:hover {
    background-color: var(--blue);
    color: var(--gray-100) 
}