root{
    background-color: var(--gray-300) ;
}

.search button{
    background-color: var(--blue-dark);
    color: var(--gray-100)
}

.search button:hover{
    background-color: var(--blue);
    color: var(--gray-100) 
}