.tasklist {
    background-color: var(--gray-600);
    width: 46rem;
    margin: 0 22rem 0 22rem;

}

.tasklist main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}



.element {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: flex-start;

    margin-bottom: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--gray-400, #333);
    background: var(--gray-500, #262626);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.element input {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3.273px;
    justify-content: center;
    align-items: center;
}

.elementkey{
    display: flex;
    justify-content: space-between;
}

.textDone{
    display: flex;
    justify-content: space-between;
    text-decoration-line: line-through;
    color: var(--gray-300)
}

.element span {
    font-family: Inter;
    font-size: 14px;
    padding: 3.273px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.element button {
    color: var(--gray-300);
    background-color: transparent;
    display: flex;
    padding: 5px 5.522px 5px 6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    outline: none;

    border-radius: 4px;
}


.element button:hover {
    color: var(--danger);
    background-color: var(--gray-400);
    outline: none;
}

.elementkey button {
    color:var(--blue);
    outline: none;
    padding: 3.273px;
    border: 0px;
    margin-right: 12px;
    background-color:transparent
    
}

.elementkey button:hover {
    color:var(--blue-dark);
    outline: none;
    background-color:transparent
}

.textDone button {
    color:var(--purple-dark);
    outline: none;
    padding: 3.273px;
    border: 0px;
    margin-right: 12px;
    background-color:transparent
}

.textDone button:hover {
    color:var(--purple);
    outline: none;
    background-color:transparent
}


