.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}

.tasklist {
  background-color: var(--gray-600);
  /* align-items: center;  */
  /* display: flex;
  justify-content: space-between; */
  /* flex-direction: column; */
  width: 46rem;
  margin: 0 22rem 0 22rem;

}

.tasklistheader {
  display: flex;
  justify-content: center;
  width: 46rem;
  margin-bottom: 24px;

  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
}

.azul {
  color: var(--blue);
  margin-right: 0.5rem;
}

.roxo {
  color: var(--purple);
  margin-right: 0.5rem;
}

.headerelements {
  display: flex;
}

.tasklist header span {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--gray-400);
}

.tasklist main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}



.element {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-400, #333);
  background: var(--gray-500, #262626);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.element input {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 3.273px;
  justify-content: center;
  align-items: center;
}

.element span {
  color: var(--gray-100, #F2F2F2);
  font-family: Inter;
  font-size: 14px;
  padding: 3.273px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.element img {
  width: 12.478px;
  height: 14px;
  flex-shrink: 0;
  margin: 1rem;
}

.listavazia {
  display: flex;
  padding: 64px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 8px;
  border-top: 1px solid var(--grey-400, #333);

  color: var(--gray-300, #808080);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 140%;

}

.listavazia strong{
  font-weight: 700;
}