
.tasklistheader {
  max-width: 90rem;
  display: flex;
  justify-content: center;


  margin-bottom: 24px;


  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
}

.azul {
  color: var(--blue);
  margin-right: 0.5rem;
}

.roxo {
  color: var(--purple);
  margin-right: 0.5rem;
  margin-left: 450px;
}

.headerelements {
  display: flex;
  align-items: center;
}



.tasklist main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}



.headerelements span {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 999px;
  background: var(--Gray-400, #333);

}

.element img {
  width: 12.478px;
  height: 14px;
  flex-shrink: 0;
  margin: 1rem;
}

.listavazia {
  display: flex;
  padding: 64px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-radius: 8px;
  border-top: 1px solid var(--grey-400, #333);

  color: var(--gray-300, #808080);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  line-height: 140%;

}

.listavazia strong {
  font-weight: 700;
}