.post {
    background-color: var(--gray-800);
    width: 52rem;
    border-radius: 8px;
    padding: 2.5rem;
}

.post+.post {
    margin-top: 2rem;
}


.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {
    color: var(--green-300);
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem
}

.authorInfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    color: var(--gray-400);
    font-size: 0.875rem;
    line-height: 1.6;
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
}

.commentForm strong {
    line-height: 1.6;
    color: var(--gray-100);
    margin-bottom: 1rem;
}

.commentForm textarea {
    width: 100%;
    height: 6rem;
    padding: 1rem;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--gray-900);
    line-height: 1.4;
    color: var(--white);
}

.commentForm footer{
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer{
    visibility: visible;
    max-height: none; 
}

.commentForm button {
    width: 6.75rem;
    padding: 16px 24px 14px 24px;
    color: var(--white);
    background-color: var(--green-500);
    margin-top: 16px;
    border-radius: 8px;
    margin-top: 1rem;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.1s ;

}



.commentForm button:hover {
    background-color: var(--green-300);
}   